.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .about-content {
    max-width: 600px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-image {
    margin-bottom: 20px;
  }
  
  .about-image img {
    width: 200px;
    height: 200px;
    border: 1px dashed salmon;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }
  
  .about-text {
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
    font-weight: 600;
    color: #555555;
  }

  .resume-button{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    text-align: center;
    font-weight : bold;
    cursor : pointer;
    transition: transform 0.1s ease-in-out;
  }

  .resume-button:hover {
    animation: dance 0.2s infinite;
  }

  @keyframes dance {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px) rotateZ(-5deg);
    }
    75% {
      transform: translateX(5px) rotateZ(5deg);
    }
    100% {
      transform: translateX(0);
    }
  }

  